* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #013829;
}

html {
  min-height: 100%;
}

body {
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom right, #16599c, #58e8e8) no-repeat;
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
}

.btm {
  margin-bottom: 50px;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}
